<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksptooi.psm.mapper.ConfigSetMapper">

    <!-- 表实体出参映射-->
    <resultMap id="poMap" type="com.ksptooi.psm.configset.ConfigSetVo">
        <result column="ID" property="id"/>
        <result column="KEY" property="key"/>
        <result column="VAL" property="val"/>
        <result column="DEF" property="def"/>
        <result column="USER_ID" property="userId"/>
        <result column="DESCRIPTION" property="description"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO CONFIG_SET(ID,KEY,VAL,DEF,USER_ID,DESCRIPTION)
        VALUES (#{val.id},#{val.key},#{val.val},#{val.def},#{val.userId},#{val.description})
    </insert>

    <select id="getByKey" resultMap="poMap">
        SELECT * FROM CONFIG_SET
        WHERE KEY = #{key}
    </select>




</mapper>