<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksptooi.asf.core.mapper.DocumentMapper">

    <!-- 表实体出参映射-->
    <resultMap id="poMap" type="com.ksptooi.asf.core.entities.Document">
        <result column="DOC_ID" property="docId"/>
        <result column="NAME" property="name" />
        <result column="DOM_TYPE" property="domType" />
        <result column="METADATA" property="metadata"/>
        <result column="BINARY_DATA" property="binaryData" />
        <result column="DESCRIPTION" property="description" />
        <result column="CREATE_TIME" property="createTime"/>
    </resultMap>

    <!-- 表的所有参数 ,不带t-->
    <sql id="tableColumns">
        `DOC_ID`,
        `NAME`,
        `DOM_TYPE`,
        `METADATA`,
	    `BINARY_DATA`,
	    `DESCRIPTION`,
	    `CREATE_TIME`
    </sql>

    <select id="getDocumentList" resultMap="poMap">
        SELECT
            <include refid="tableColumns"/>
        FROM DOCUMENT
        <where>

            <if test="where.docId!=null and where.docId!=''">
                and DOC_ID = #{where.docId}
            </if>

            <if test="where.name!=null and where.name!=''">
                and `NAME` = #{where.name}
            </if>

            <if test="where.domType!=null and where.domType!=''">
                and `DOM_TYPE` = #{where.domType}
            </if>

        </where>

    </select>

    <select id="getDocumentById" resultMap="poMap">
        SELECT
            <include refid="tableColumns"/>
        FROM DOCUMENT
        WHERE DOC_ID = #{id}
    </select>

    <select id="getDocumentByName" resultMap="poMap">
        SELECT
            <include refid="tableColumns"/>
        FROM DOCUMENT
        WHERE `NAME` = #{name}
    </select>

    <select id="getDocumentByType" resultMap="poMap">
        SELECT
            <include refid="tableColumns"/>
        FROM DOCUMENT
        WHERE DOM_TYPE = #{type}
    </select>


    <insert id="insert">
        INSERT INTO DOCUMENT (
            <include refid="tableColumns"/>
        )
        VALUES (
        #{insert.docId},
        #{insert.name},
        #{insert.metadata},
        #{insert.binaryData},
        #{insert.description},
        #{insert.createTime}
        )
    </insert>

    <update id="update">
        UPDATE DOCUMENT SET
                           `NAME` = #{update.name},
                           `METADATA` = #{update.metadata},
                           `BINARY_DATA` = #{update.binaryData},
                           `DESCRIPTION` = #{update.description}
        WHERE `DOC_ID` = #{update.docId}
    </update>

    <delete id="remove">
        DELETE FROM DOCUMENT WHERE `DOC_ID` = #{id}
    </delete>


</mapper>