<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksptooi.psm.mapper.RequestDefinesMapper">

    <resultMap id="poMap" type="com.ksptooi.psm.modes.RequestDefineVo">
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PARAMETER_COUNT" property="parameterCount"/>
        <result column="PARAMETERS" property="parameters" />
        <result column="METADATA" property="metadata" />
        <result column="PROC_NAME" property="procName" />
        <result column="PROC_CLASS_TYPE" property="procClassType" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <insert id="insert">
        INSERT INTO REQUEST_DEFINES(ID,NAME,PARAMETER_COUNT,PARAMETERS,METADATA,PROC_NAME,PROC_CLASS_TYPE,CREATE_TIME)
        VALUES (
                #{val.id}
               ,#{val.name}
               ,#{val.parameterCount}
               ,#{val.parameters}
               ,#{val.metadata}
               ,#{val.procName}
               ,#{val.procClassType}
               ,#{val.createTime}
               )
    </insert>

    <select id="getByName" resultMap="poMap">
        SELECT * FROM REQUEST_DEFINES
        WHERE name = #{name}
    </select>

    <select id="getByNameAndParameterCount" resultMap="poMap">
        SELECT * FROM REQUEST_DEFINES
        WHERE NAME = #{name} AND PARAMETER_COUNT = #{pCount}
    </select>




</mapper>