<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksptooi.psm.mapper.RequestHandlerMapper">

    <resultMap id="poMap" type="com.ksptooi.psm.modes.RequestHandlerVo">
        <result column="ID" property="id"/>
        <result column="PATTERN" property="pattern"/>
        <result column="PARAMS" property="params"/>
        <result column="PARAMS_COUNT" property="paramsCount"/>
        <result column="PROC_NAME" property="procName"/>
        <result column="PROC_CLASS_TYPE" property="procClassType"/>
        <result column="STATUS" property="status"/>
        <result column="METADATA" property="metadata"/>
        <result column="CREATE_TIME" property="createTime"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO REQUEST_HANDLER(ID,PATTERN,PARAMS,PARAMS_COUNT,PROC_NAME,PROC_CLASS_TYPE,STATUS,METADATA,CREATE_TIME)
        VALUES (
                #{val.id}
               ,#{val.pattern}
               ,#{val.params}
               ,#{val.paramsCount}
               ,#{val.procName}
               ,#{val.procClassType}
               ,#{val.status}
               ,#{val.metadata}
               ,#{val.createTime}
               )
    </insert>

    <delete id="deleteById">
        UPDATE REQUEST_HANDLER SET STATUS = 1
        WHERE ID = #{id} AND STATUS = 0
    </delete>

    <select id="getByPattern" resultMap="poMap">
        SELECT * FROM REQUEST_HANDLER
        WHERE PATTERN = #{pattern} AND STATUS = 0
    </select>

    <select id="getByPatternAndParamsCount" resultMap="poMap">
        SELECT * FROM REQUEST_HANDLER
        WHERE PATTERN = #{pattern} AND PARAMS_COUNT = #{pCount} AND STATUS = 0
    </select>

    <select id="getById" resultMap="poMap">
        SELECT * FROM REQUEST_HANDLER
        WHERE ID = #{id} AND STATUS = 0
    </select>


</mapper>